.ion--ios-infinite-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M451.229 188.098C432.682 169.967 407.95 160 381.585 160c-26.363 0-51.095 9.967-69.642 28.098l-42.229 41.187 13.649 13.447 42.229-41.306c14.933-14.529 34.764-22.573 55.878-22.573 21.113 0 40.946 8.044 55.878 22.573 30.797 30.139 30.797 79.13 0 109.148-14.932 14.529-34.765 22.573-55.878 22.573-21.114 0-40.945-8.044-55.878-22.573L200.071 188.098C181.406 169.967 156.675 160 130.427 160c-26.363 0-51.095 9.967-69.643 28.098C41.615 206.809 32.021 231.441 32 256c-.021 24.611 9.573 49.149 28.784 67.902C79.332 342.032 104.063 352 130.427 352c26.365 0 51.095-9.968 69.645-28.098l42.111-41.186-13.647-13.329-42.229 41.187c-14.932 14.529-34.764 22.573-55.879 22.573-21.113 0-40.944-8.044-55.876-22.573-30.799-30.14-30.799-79.13 0-109.148 14.932-14.529 34.763-22.573 55.876-22.573 21.115 0 40.947 8.044 55.879 22.573l125.52 122.477C330.49 342.032 355.222 352 381.47 352c26.363 0 51.095-9.968 69.643-28.098C470.361 305.23 479.985 280.6 480 256c.015-24.601-9.58-49.17-28.771-67.902z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ion--ios-stopwatch-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M397.6 146.7l-1.8-1.7h18.4l8.5 7.8 22.5-22.8-40.8-40.3-23.2 22.3 8.8 9.2v18.6l-5-4.7c-31.3-28.3-70-45.2-113-48.9V48h-32v38h-2c-43.7 3-85 22.5-116 53v-17.8l8.9-9.2L108 89.8 67.2 130l22.5 22.8 8.5-7.8H116c-.3 0-.7.7-1 1.1-32.8 35.1-51 80.9-51 128.5C64 379 150.1 464 256.1 464 361.9 464 448 379.1 448 274.7c0-47.6-18-93.1-50.4-128zm-141.3 299c-95.5 0-173.1-76.7-173.1-170.9 0-94.3 77.7-170.9 173.1-170.9 95.5 0 173.1 76.7 173.1 170.9.1 94.2-77.6 170.9-173.1 170.9z' fill='%23000'/%3E%3Cpath d='M264 257.3V128h-16v129.4c-12.5 4.3-24 16.5-24 30.3 0 14.7 10 27 24 30.5l8 17.8 8-17.8c14-3.5 24-15.8 24-30.5 0-14.5-10.5-26.7-24-30.4z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ion--ios-nutrition-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M358 233.855l.413-.039c-.137-.137-.046-.101-.185-.237L279.798 155h-.004c-5.833-6-14.193-10.154-23.485-10.154-11.811 0-22.115 6.154-27.635 16.154h-.007s-7.09 10.994-18.27 28.874l32.531 39.637c2.939 3.769 3.296 7.801 1.411 9.689l-.114.071c-.909.909-2.021 1.33-3.274 1.33-1.908 0-4.142-.99-6.485-2.768l-35.872-29.418c-23.546 37.655-56.677 90.634-83.45 133.451l19.072 23.337c2.939 3.77 3.296 7.884 1.41 9.772l-.114.114c-.911.913-2.028 1.342-3.287 1.342-1.905 0-4.136-.981-6.472-2.755l-21.067-16.533C84.734 389.051 70 412.464 68 414.366v.003c-3 5.062-4.085 11.132-4.085 17.664C63.915 449.688 78.572 464 96.2 464c7.821 0 14.57-3.395 20.799-7.5l114.651-84.109-28.838-35.358c-2.94-3.769-3.268-7.887-1.382-9.775l.128-.114c.912-.912 2.034-1.341 3.294-1.341 1.905 0 4.14.981 6.476 2.755l37.864 31.59A20509.475 20509.475 0 0 1 355.082 283h.005c7.839-6 12.473-15.711 12.473-26.238 0-8.704-3.56-17.14-9.56-22.904v-.003zm-12.469 35.979a31571.957 31571.957 0 0 0-95.764 69.899l-28.272-23.483-.26-.223-.274-.211c-5.245-3.981-10.663-5.998-16.108-5.998-5.465 0-10.592 2.097-14.458 5.909l-.064.062-.083.082-.083.083c-7.808 7.821-7.761 20.823.111 30.917l.11.143.113.138 18.223 22.312-100.656 73.896c-5.066 3.304-8.427 4.657-11.542 4.657-8.822 0-16-7.171-16-15.983 0-3.086.694-6.045 2.017-8.623 2.391-3.161 6.6-9.876 18.655-29.351 2.543-4.108 5.252-8.487 8.134-13.129l6.39 5.176.195.156.2.152c5.245 3.981 10.665 6 16.111 6 5.517 0 10.692-2.139 14.571-6.023l.114-.113c7.806-7.817 7.756-20.82-.118-30.916l-.113-.144-.115-.142-11.814-14.455 43.693-69.872 24.059-38.474 21.855 17.922.231.19.24.181c5.254 3.988 10.678 6.01 16.123 6.01 4.954 0 9.631-1.725 13.339-4.89l.461-.337.871-.874c7.79-7.803 7.74-20.778-.118-30.854l-.12-.153-.124-.15-25.239-30.539c2.957-4.703 5.457-8.491 7.405-11.488l5.209-8.494c2.777-5.025 7.761-8.157 13.673-8.157 4.367 0 8.76 2.042 12.057 5.43l4.701 4.928h.122L342 240.286v.376l5.186 4.716c2.793 2.69 4.539 6.782 4.539 11.227 0 5.196-2.258 10.123-6.194 13.229z' fill='%23000'/%3E%3Cpath d='M439.994 115.175l-4.778 2.763-91.638 52.992 63.735-110.572 2.517-4.366L396.011 48l-2.488 4.313-70.775 122.785 16.67 16.696 103.962-60.12 4.594-2.656z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ion--ios-cart-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M160 400c-13.248 0-24 10.752-24 24s10.752 24 24 24 24-10.752 24-24-10.752-24-24-24zm0 32c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z' fill='%23000'/%3E%3Cpath d='M384.5 400c-13.248 0-24 10.752-24 24s10.752 24 24 24 24-10.752 24-24-10.752-24-24-24zm0 32c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z' fill='%23000'/%3E%3Cpath d='M448 128L123.177 95.646c-1.628-6.972-4.369-14.66-11.838-20.667C102.025 67.489 86.982 64 64 64v16.001c18.614 0 31.167 2.506 37.312 7.447 4.458 3.585 5.644 8.423 7.165 15.989l-.024.004 42.052 233.638c2.413 14.422 7.194 25.209 13.291 32.986C171.043 379.312 180.533 384 192 384h240v-16H192c-4.727 0-19.136.123-25.749-33.755l-5.429-30.16L432 256l16-128zm-29.41 114.348l-260.601 45.99-31.732-176.3 303.869 30.608-11.536 99.702z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
